<div class="user-row">
	<h4><a href="#users/<%= userID %>"><%= username %></a></h4>
	<p><%= email %></p>
	<p>User status: <%= userType %></p>
	<input type="hidden" name="user-id" value="<%= userID %>" />
</div>