<div class="messageview">

	<div class="message-contain">
		<h1><%= messageTitle %></h1>
		<input type="hidden" name="message-id" value="<%= messageID %>" />
		<input type="hidden" name="send-to-id" value="<%= sendTo %>" />
		<p><strong>Received: <%= receivedDate %> </strong></p>

		<p class="message-body"><%= messageBody %></p>
	</div>

	<div class="usercontain">
		<img src="./images/user-image.png" />
		<h5><a href="./users/<%= fromID %>"><%= fromUser %></a></h5>

			<div class="message-tools">
				<a href="#reply/<%= messageID %>" class="linkbutton blue-button"><i class="icon-reply"></i> Reply</a>
				<button class="message-tool active delete" name="delete-message"><i class="icon-remove"></i> Delete</button>
			</div>
	</div>

</div>