<div class="user-profile-contain">
	<h1>Welcome to <a href="#users/<%= userID %>"><%= userName %></a>'s Profile</h1>
	<p><%= eMail %></p>
	<input type="hidden" name="username" value="<%= userName %>" />
	<button name="message-user" class="message-tool active"><i class="icon-envelop"></i> Send Message</button>

	<h3>About Me</h3>
	<p> <%= aboutMe %> </p>
</div>